<div>
  <div>
    <h1>
      my closet

    </h1>
  </div>
</div>

<hr>

<div>
  <div>
 <a href="/add_clothing">
    <i class="fa-thin fa-plus" alt="Add a new fit"> </i>
 

      <button>
        add a new fit</button>
    </a>
    
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ft
        </th>

        <th>
          description
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
              </tr>

      <% @my_fits.each do |a_my_closet| %>
      <tr>
       
        <td>
          <img src = "<%= a_my_closet.clothing %>" class="img-responsive">
        </td>

        <td>
          <%= a_my_closet.caption %>
        </td>

        <td>
          <%= time_ago_in_words(a_my_closet.created_at) %> ago
        </td>

        <td>
          <a href="/my_closets/<%= a_my_closet.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
