<h2>
      add your clothing
    </h2>

    <form action="/insert_my_closet" method="post" class="form-horizontal" enctype="multipart/form-data">
      <div>
        <label for="caption_box">
          Description
        </label>

        <input type="text" id="caption_box" name="query_caption">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="file" id="image_box" class="form-control" name="clothing">
      </div>
  
      <button>
        upload
      </button>
    </form>
  </div>
</div>

<hr>
