
<img src= "<%= @current_user.user_profile_pic %>" class="img-responsive"><h2>
      add your fit
    </h2>

    <form action="/insert_photo" method="post" class="form-horizontal" enctype="multipart/form-data">
      <div>
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="file" id="image_box" class="form-control" name="image">
      </div>
  
        <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>
      <button>
        Create photo
      </button>
    </form>
  </div>
</div>

<hr>
