<div>
  <div>
    <img src= "<%= @profile_own.user_profile_pic %>" class="pfp_other">
    <h1>
      <%=@profile_own.username%>
    </h1>
  </div>
</div>

<hr>

<h3>This user is private</h3>

       <form action ="/insert_moots_request" method = "post">
        <input id="query_recepient_id" type= "hidden" value= <%=@profile_own.id%> name="query_recipient_id">
      <button>follow <%= @profile_own.username%></button>
      </form> 
<hr>
    